<html ng-app="bingo">

<head>
    <title>Bingo</title>
    <link href="estilos/estilos.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="codigo/app.js"></script>
    <script src="codigo/cantor.js"></script>
    <script src="codigo/tabla.js"></script>
</head>

<body ng-controller="Controladorbingo">
    <button class="boton" ng-click="iniciarJuego()" ng-disabled="juegoIniciado">
        Iniciar Juego
    </button>
    <button class="boton" ng-click="sacarBalota()" ng-disabled="! juegoIniciado">
        Sacar Balota
    </button>

    <div class="ultimaBalota">
        ÚLTIMA BALOTA <span class="numeroBalota">
            {{cantor.ultimaBalota || "Ninguno"}}
        </span>
        BALOTAS RESTANTES <span class="balotasPedientes">
            {{cantor.balotasPendientes || "Ninguno"}}
        </span>
        <span ng-if="posicionGanador!=1">
        EL GANADOR ES EL {{ jugadores[posicionGanador].nombre }}
        </span>
    </div>
<div class="panelPrincipal"> 
    <div class="cantor">
        <table class="tablacantor">
            <thead>
                <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <th>G</th>
                    <th>O</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fila in cantor.tabla">
                    <td ng-repeat="numero in fila" ng-class="{sacada: cantor.balotasSacadas [numero-1]}  ">
                        {{numero}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tablas">
        <div class="jugador" ng-repeat="jugador in jugadores">
            <h3>{{jugador.nombre}}</h3>
                <span ng-if="jugador.ganador">¡BINGO!</span>
            <table>
                <thead>
                    <tr>
                        <th>B</th>
                        <th>I</th>
                        <th>N</th>
                        <th>G</th>
                        <th>O</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in jugador.tablaJugador.tabla track by $index">
                        <td ng-repeat="numero in fila track by $index" ng-class="{tapada: jugador.tablaJugador.tapada[$parent.$index][$index]}  ">
                            {{ numero }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>

</html>